*{
    margin: 0;
    padding: 0;
}
body{
    background:linear-gradient(to bottom right,rgb(178, 0, 0) , black) no-repeat center center fixed;
}
header{
    position: absolute;
    top: 10%;
    left: 40%;
}
header h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: red;
    font-size: xxx-large;
}
.container{
    border: 1px solid rgb(240, 45, 45);
    color: white;
    position: absolute;
    top: 20%;
    left: 32%;
    width: 30%;
    height: 45%;
    border-radius: 5%;
}
.container a{
    margin: 5px 60px 20px 50px;
}
.container h1{
    color: white;
    margin: 5px 5px 20px 115px;
    padding: 5px;
    font-size: 130%;
}
.box{
    margin: 1px 20px;
    width: 95%;
    color: rgb(177, 0, 0);
    font-size: 100%;
}
.box i{
    width: 4%;
}
.box input{
    font-size: 88%;
    margin: 1px 10px ;
    width: 76%;
    border-style: ridge;
    outline: none;
    padding: 14px;
}
.box input.name{
    font-size: 88%;
    margin: 1px 10px;
    width: 30.8%;
    border-style: ridge;
    outline: none;
    padding: 14px;
}
.btn{
    color: white;
    background-color: rgb(174, 0, 0);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    cursor: pointer;
    outline: none;
    width: 80%;
    margin: 8px 30px;
    padding: 10px;
    
}
.btn:hover{
    color: white;
    background-color: rgb(255, 95, 95);

}